entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python app.py"
waitForPort = 8000

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33123
externalPort = 8081

[[ports]]
localPort = 33507
externalPort = 5173

[[ports]]
localPort = 33893
externalPort = 9000

[[ports]]
localPort = 34809
externalPort = 8008

[[ports]]
localPort = 36953
externalPort = 8080

[[ports]]
localPort = 37181
externalPort = 6000

[[ports]]
localPort = 37731
externalPort = 3003

[[ports]]
localPort = 37847
externalPort = 5000

[[ports]]
localPort = 38945
externalPort = 8099

[[ports]]
localPort = 41525
externalPort = 6800

[[ports]]
localPort = 42959
externalPort = 3002

[[ports]]
localPort = 43181
externalPort = 3000

[[ports]]
localPort = 46093
externalPort = 4200

[[ports]]
localPort = 46685
externalPort = 3001
